 <% include partials/header2 %> 
<p>Are You Sure You want to Delete <%=name %></p>
<div class="container">
        <a href="/DeleteBook/<%=id %>" class="btn btn-primary" method="Delete">Yes</a>
        <a href="/DeleteBook" class="btn btn-primary" method="Delete">No</a>
        </div>
         <% include partials/footer %>  