

<% include partials/header %>
<p>
  <a class="btn btn-primary btn-large" href="/GenreBooks/Poetry" >  Poetry</a> 
  <a class="btn btn-primary btn-large" href="/GenreBooks/Literature" >  Literature</a> 
  <a class="btn btn-primary btn-large" href="/GenreBooks/Story" >  Story</a> 
  <a class="btn btn-primary btn-large" href="/GenreBooks/Sci-Fi" >  Sci-Fi</a> 
  <a class="btn btn-primary btn-large" href="/GenreBooks/Biography" >  Biography</a> 
  <a class="btn btn-primary btn-large" href="/GenreBooks/Others" >  Others</a> 
  
<!-- block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
        h2=title1
        a(href='/GenreBooks/Poetry') Poetry
        a(href='/GenreBooks/Literature' ) Literature
        a(href='/GenreBooks/Story' ) Story Books
        a(href='/GenreBooks/Sci-Fi' ) Sci-Fi
        a(href='/GenreBooks/Biography' ) Biography
        a(href='/GenreBooks/Others' ) Others -->

      