
include _includes/sharedHTMLfunctions
block content
  #banner.page-header
    .row
        .col-lg-6
            h1= pageHeader.title
                input(type="text" value="bookName" name="title" placeholder="Search Book" class="myClass1")
                a(href='/ShowBook' class="myClass2") Show Book
                