extends layout

include _includes/sharedHTMLfunctions
block content
  #banner.page-header
    .row
        .col-lg-6
        h1= pageHeader.title
        p(class="myClass1") Name Of the Book&nbsp; #{book.name}
        p(class="myClass1")  Author of The Book&nbsp; #{book.Author}
        p(class="myClass1")  Price &nbsp;#{book.price}