<% include partials/header2 %>
<h1 style="text-align:center;">Welcome to User Dashboard</h1>
<div class="caption">
    
    <h4>User Name: <%= username %></h4> 
</div>
<div class="caption">
    <h4>Email: <%= email %></h4> 
</div>

