<% include partials/header %>
<h1>
        WELCOM LANDING PAGE
</h1>
<!--https://www.photosforclass.com/download/flickr-37024363713-->

<a href="/categories">view Categories</a>

<% include partials/footer %>