<!Doctype html>
<html>
    <head>
        
        <title>
            BOOK SHELF
        </title>
        <link rel = "stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css ">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> BookShelf</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right  ">
                        <li><a href="/logout">Sign Out</a></li>
                        <li><a href="/AllBooks/new">Add A Book</a></li>
                        <li><a href="/userDashboard"><%=username%></a></li>
                    </ul>
                    <form class="form-line" action="/SearchByTitle"  method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="title">
                        <button class="btn btn-light my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
         </nav>
