
  <% include partials/header %>  


  <div class= "col-sm-4 col-xs-6">
      <a href="/GenreBooks/Poetry" >  <img class="img-category" src ="https://image.shutterstock.com/image-illustration/poetry-260nw-339411857.jpg" alt = "Poetry"></a> 
  </div>
  <div class= "col-sm-4 col-xs-6">
      <a href="/GenreBooks/Literature" >  <img class="img-category" src="https://1.bp.blogspot.com/-f75ulDzX1KI/VuVNuwzI_oI/AAAAAAAABCc/MCivLlnjY9QegMNAbn67CkqGbgIJG_lzQ/s1600/Fotolia_91983597_S-300x300.jpg" alt = "Literature"> </a>   
  </div>
  <div class= "col-sm-4 col-xs-6">
      <a class="img-category col-sm-4.col-xs-6" href="/GenreBooks/Story" >  <img class="img-category" src= "https://cdn-images-1.medium.com/max/1600/0*6-FHRtynQ4dwBrSY.jpg" alt = "Story"></a> 
  </div>
  <div class= "col-sm-4 col-xs-6">
      <a href="/GenreBooks/Sci-Fi" > <img class="img-category" src= "https://www.thecollegeview.com/wp-content/uploads/2017/10/SCIFI-CreditStylinonline.com_.jpg" alt ="Sci-Fi" ></a> 
  </div>
  <div class= "col-sm-4 col-xs-6">
      <a href="/GenreBooks/Biography" >  <img class="img-category" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBolr4_TWan6WZWYpTZQMBUdFhQ0m7QvGzv4wDXhSsjYnCGcyv" alt = "Biography"></a> 
  </div>
  <div class= "col-sm-4 col-xs-6">
      <a href="/GenreBooks/Others" >  <img class="img-category" src= "http://hearkeninstitute.com/wp-content/uploads/2016/01/other_books.jpg" alt = "Others"></a>   
  </div>
      
  
        