<% include partials/header %>
<h1 style="text-align:center;">Welcome to User Dashboard</h1>
<div class="caption">
    
    <h4>User Name: <%= username %></h4> 
</div>
<div class="caption">
    <h4>Email: <%= email %></h4> 
    <h4>Phone number <%= phoneNumber %></h4>
</div>
<p>
    <a class="btn btn-primary btn-large" href="/showUploadedBooks" >  Show uploaded books</a> </br></br></br>
    <a class="btn btn-primary btn-large" href="/DeleteBook" >  Delete a Book</a> 
</p>

